With the given task "Load the Grid_Disruption_00_14_standardized - Grid_Disruption_00_14_standardized.csv Dataset from Kaggle: 15 YEARS OF POWER OUTAGES. Where are errors here? How would you clean this file?", I decided to not use trifacta.com and instead write an own receipe to boost general understanding.

In [1]:
#import our stuff and have a look at the dataframe 
import pandas as pd
import matplotlib as plt
import numpy as np
#reminder: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.

df = pd.read_csv ("datasets_22520_28884_Grid_Disruption_00_14_standardized_Grid_Disruption_00_14_standardized.csv")

#drop duplicates if there are some
df = df.drop_duplicates()

#have a look at the first few rows
df.head(20)

FileNotFoundError: [Errno 2] File datasets_22520_28884_Grid_Disruption_00_14_standardized_Grid_Disruption_00_14_standardized.csv does not exist: 'datasets_22520_28884_Grid_Disruption_00_14_standardized_Grid_Disruption_00_14_standardized.csv'

So: Where are errors here? How would you clean this file?

It is observable that there are aswell Unknown as NaN Values given. Because of the consistence of this pattern it is assumed we need this disticntion, so changing the dtype to a date for columns like "Date Event Began" won't be a usefull strategy. This circumstance makes it a bit difficult to plot or analyse data because of non consistent data types in one column, so we have them stored as objects. Assuming we need to keep the information if a value is unknown, there are three different possibilities. We could create a new column for the values with matching dtype. We could keep the data general and def a query , for example with try and except. We could asign nonsense values within the matching type to Unknown values so it's obious these are made up values, but you'd need to pass on the information, that these values are pointing out unknonwn values.

The first possibility would create a lot of redundant data in the same data frame and the third one might be inconstitent on longterm effects so I suggest to use the second strategy and handle unknown values within the query, or create a whole new date frame with cleaned values, what we will do as a second attempt.

We also need to know how many "Unknown" objects are listed in the dataset.

In [ ]:
#before doing so lets have a quick look at the data types
df.dtypes

#as expected we have a lot of objects because of the different contents in one column

In [ ]:
#Now lets distinguish between empty and unknown vales

#empty
all_v = np.product(df.shape)
miss_v = df.isnull().sum()


per_v = miss_v/all_v*100
print("List of empty values in %:")
per_v

In [ ]:
#unknown
unk_v = df == "Unknown"

un_co_v = unk_v.sum()

print("List of unkown values in %:")
un_co_v / all_v*100

In [ ]:
#To avoid missunderstandings in future we will clear all missing seels and replace them with a blankspace.
df = df.fillna("")
df.head(20)

In [ ]:
#doublecheck if we filled all missing values
miss_v = df.isnull().sum()

per_v = miss_v/all_v*100
print("List of empty values in %:")
per_v

In [ ]:
#Now we got a dataframe with the disticntion, if a value is unknown or not given.
df.head(20)

Okay now lets try the second approach. Giving a focus on having propper data types.

In [4]:
df1 = pd.read_csv ("datasets_22520_28884_Grid_Disruption_00_14_standardized_Grid_Disruption_00_14_standardized.csv")
df1

,Event Description,Year,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Respondent,Geographic Areas,NERC Region,Demand Loss (MW),Number of Customers Affected,Tags
0,Severe Weather - Thunderstorms,2014,6/30/2014,8:00 PM,7/2/2014,6:30 PM,Exelon Corporation/ComEd,Illinois,RFC,Unknown,"420,000","severe weather, thunderstorm"
1,Severe Weather - Thunderstorms,2014,6/30/2014,11:20 PM,7/1/2014,5:00 PM,Northern Indiana Public Service Company,North Central Indiana,RFC,Unknown,"127,000","severe weather, thunderstorm"
2,Severe Weather - Thunderstorms,2014,6/30/2014,5:55 PM,7/1/2014,2:53 AM,We Energies,Southeast Wisconsin,MRO,424,"120,000","severe weather, thunderstorm"
3,Fuel Supply Emergency - Coal,2014,6/27/2014,1:21 PM,Unknown,Unknown,We Energies,Wisconsin,MRO,Unknown,Unknown,"fuel supply emergency, coal"
4,Physical Attack - Vandalism,2014,6/24/2014,2:54 PM,6/24/2014,2:55 PM,Tennessee Valley Authority,"Nashville, Tennessee",SERC,Unknown,Unknown,"vandalism, physical"
...,...,...,...,...,...,...,...,...,...,...,...,...
1647,Transmission Line Loss,2000,3/18/2000,4:00 p.m.,3/18/2000,5:10:00 PM,El Paso Elec. Co.,Texas,MAIN,400,"100,000",transmission interruption
1648,Vandalism,2000,3/14/2000,9:06 p.m.,NaN,NaN,Alliant Energy,Maine,MAIN,NaN,NaN,vandalism
1649,Ice Storm,2000,1/29/2000,10:00 p.m.,2/3/2000,12:00:00 PM,Duke Power Co.,South Carolina,SERC,300,"81,000","severe weather, winter storm"
1650,Ice Storm,2000,1/24/2000,7:00 p.m.,NaN,NaN,Carolina Power & Light,North Carolina & Northern South Carolina,SERC,960,"173,000","severe weather, winter storm"
1651,Ice Storm,2000,1/23/2000,8:00 a.m.,1/28/2000,12:00:00 PM,Duke Power Co.,South Carolina,SERC,450,"133,000","severe weather, winter storm"

In [ ]:
#SHIT.. For the first attempt we had a look at our data frame by viewing at the first 20 rows (.head(20))
# now we see the date time column contains different versions of writing for AM/PM and a.m./p.m.
# let's keep that in mind

#okay lets try to use the pandas build in function .convert_dtypes() to convert into propper types.
df1 = df1.convert_dtypes()
df1.dtypes

In [5]:
#Sadly this doesnt work, it will recognize most of them as a string.
#Before trying it manually, lets try to convert all "Unkown" Values to NaN 
#and then let pandas .convert_dtypes() run again.

df1 = df1.replace("Unknown", None)
df1

,Event Description,Year,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Respondent,Geographic Areas,NERC Region,Demand Loss (MW),Number of Customers Affected,Tags
0,Severe Weather - Thunderstorms,2014,6/30/2014,8:00 PM,7/2/2014,6:30 PM,Exelon Corporation/ComEd,Illinois,RFC,Unknown,"420,000","severe weather, thunderstorm"
1,Severe Weather - Thunderstorms,2014,6/30/2014,11:20 PM,7/1/2014,5:00 PM,Northern Indiana Public Service Company,North Central Indiana,RFC,Unknown,"127,000","severe weather, thunderstorm"
2,Severe Weather - Thunderstorms,2014,6/30/2014,5:55 PM,7/1/2014,2:53 AM,We Energies,Southeast Wisconsin,MRO,424,"120,000","severe weather, thunderstorm"
3,Fuel Supply Emergency - Coal,2014,6/27/2014,1:21 PM,7/1/2014,2:53 AM,We Energies,Wisconsin,MRO,424,"120,000","fuel supply emergency, coal"
4,Physical Attack - Vandalism,2014,6/24/2014,2:54 PM,6/24/2014,2:55 PM,Tennessee Valley Authority,"Nashville, Tennessee",SERC,424,"120,000","vandalism, physical"
...,...,...,...,...,...,...,...,...,...,...,...,...
1647,Transmission Line Loss,2000,3/18/2000,4:00 p.m.,3/18/2000,5:10:00 PM,El Paso Elec. Co.,Texas,MAIN,400,"100,000",transmission interruption
1648,Vandalism,2000,3/14/2000,9:06 p.m.,NaN,NaN,Alliant Energy,Maine,MAIN,NaN,NaN,vandalism
1649,Ice Storm,2000,1/29/2000,10:00 p.m.,2/3/2000,12:00:00 PM,Duke Power Co.,South Carolina,SERC,300,"81,000","severe weather, winter storm"
1650,Ice Storm,2000,1/24/2000,7:00 p.m.,NaN,NaN,Carolina Power & Light,North Carolina & Northern South Carolina,SERC,960,"173,000","severe weather, winter storm"
1651,Ice Storm,2000,1/23/2000,8:00 a.m.,1/28/2000,12:00:00 PM,Duke Power Co.,South Carolina,SERC,450,"133,000","severe weather, winter storm"

In [ ]:
df1 = df1.convert_dtypes()
df1.dtypes

In [ ]:
#Okay our problem is not solved, so we gonna make it manually

In [ ]:
#the pandas function .conver_dtypes() didn't help as as requested bu turned the objects into strings,
#so we can use the str.replace() function to change a.m. only in the string to AM (same for pm)

df1["Time Event Began"] = df1["Time Event Began"].str.replace("a.m.", "AM")
df1["Time Event Began"] = df1["Time Event Began"].str.replace("p.m.", "PM")
df1

In [ ]:
#Perfect now we have it uniform

In [ ]:
# for time and date, there is only the datatype datetime
# so we will merge Date Event Began and Time Event Began into one precice column

df1["Date Event Began"] = df1["Date Event Began"] +" "+ df1["Time Event Began"]
df1["Date Event Began"]

In [ ]:
#we will drop the other column and rename this column to: Event Began when we are done with cleaning
#also doing it for the End of the Event will be done afterwards

#lets now transform it into a datetime type

In [ ]:
# df1["Date Event Began"] = pd.to_datetime(df1["Date Event Began"], format="%m/%d/%Y %I:%M %p %I:%M %p", errors='coerce')

# I weren't able to solve this error but will continue research and add an adaption with a working datatransformation when i got answer

In [ ]:
#so now lets continue with the more easy columns till we found a solution
#So what do we want?
# Number of Custormers Afftected as a numeric
# Demand Loss as a numeric

In [6]:
df1["Demand Loss (MW)"] = pd.to_numeric(df1["Demand Loss (MW)"], errors='coerce')
df1["Number of Customers Affected"] = pd.to_numeric(df1["Number of Customers Affected"], errors='coerce')
df1.dtypes

Event Description                object
Year                              int64
Date Event Began                 object
Time Event Began                 object
Date of Restoration              object
Time of Restoration              object
Respondent                       object
Geographic Areas                 object
NERC Region                      object
Demand Loss (MW)                float64
Number of Customers Affected    float64
Tags                             object
dtype: object